<div>
  <div>
    <h3>{{ validationListOverview }}</h3>
  </div>
  <div class=".validationList">
    <div>
      <h5 [style.color]="twelveCharValidColor">
        {{ twelveCharValidationMessage }}
      </h5>
    </div>
    <div>
      <h5 [style.color]="upperLowerCaseValidColor">
        {{ upperLowerCaseValidationMessage }}
      </h5>
    </div>
    <div>
      <h5 [style.color]="lettersAndNumsValidColor">
        {{ lettersAndNumsValidationMessage }}
      </h5>
    </div>
    <div>
      <h5 [style.color]="oneSpecialCharValidColor">
        {{ oneSpecialCharValidationMessag }}
      </h5>
    </div>
    <div>
      <h5 [style.color]="notCommonlyUsedPasswordValidColor">
        {{ notCommonlyUsedPasswordValidationMessage }}
      </h5>
    </div>
  </div>
  <hr />
  <div>
    <label> Password </label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      (ngModelChange)="passwordChange($event)"
    />
  </div>
  <button (click)="onShowPassword()">{{ showPasswordButton }}</button>
  <button (click)="onSubmit()">Create Password</button>
</div>
